* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* height: 100%; */
  /* min-height: 100vh;
  min-height: -webkit-fill-available; */
  /* height: 100vh; */
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  background-color: #ff5033;
}
svg {
  position: absolute;
  top: 10%;
  left: 60%;
  cursor: pointer;
  z-index: 10;
}

#canvas {
  float: left;
  height: calc(var(--vh, 1vh) * 100);
  /* min-height: 100vh;
  min-height: -webkit-fill-available; */
  width: 100vw;
  overflow: hidden;
  /*flex: 0 0 500px;*/
  transition: width 0.5s ease-in-out;
}
#main {
  position: absolute;
  height: calc(var(--vh, 1vh) * 100);
  /* min-height: 100vh;
  min-height: -webkit-fill-available; */
  width: 100%;
  background-color: #eee;
  background-image: url("forestbg.png");
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  left: 0px;
  transition: width 0.5s ease-in-out;
}

#house-container {
  position: absolute;
  top: 45%;
  left: 55%;
  transition: left 0.5s ease-in-out;
}
#house {
  height: 150px;
  width: 150px;
  background-image: url("house.png");
  background-position: center;
  background-size: auto;
  filter: sepia(50%);
}

#house:hover #canvas {
  left: -100px;
}

#window {
  height: 30px;
  width: 22px;
  background-color: #d1cdcd;
  position: absolute;
  top: 80px;
  left: 96px;
}

header {
  position: absolute;
  margin: 280px auto;
  margin-bottom: 0;
  width: 100vw;
  height: 200px;
  left: 0px;
}
header h1 {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 5em;
  opacity: 0.3;
  z-index: 5;
  text-align: center;
  font-weight: 600;
  line-height: 50px;
  margin-bottom: 75px;
}

h1 a {
  color: inherit;
  text-decoration: inherit;
}

#headerz,
#darkMode {
  transition: left 0.5s ease-in-out;
}

nav {
  /*bottom: 0;*/
  position: absolute;
  width: 100%;
  display: flex;
  z-index: 3;
  justify-content: center;
}

nav a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #000;
  opacity: 0.5;
  text-decoration: inherit;
  margin: 0 20px;
  text-align: center;
}

#content {
  position: absolute;
  background-color: #45ff91;
  height: 100vh;
  width: 65%;
  right: -65%;
  bottom: 0;
  transition: right 0.5s ease-in-out;
}

iframe {
  height: 100vh;
  width: 100%;
  padding: 5% 10%;
  overflow-y: scroll;
}

/****** mobile responsive ******/
@media only screen and (max-width: 768px) {
  #content {
    position: absolute;
    background-color: #fff;
    height: 75%;
    width: 100vw;
    bottom: -75%;
    left: 0;
    transition: bottom 0.5s ease-in-out;
    /* min-height: -webkit-fill-available; */
  }

  #canvas {
    transition: height 0.5s ease-in-out;
  }

  #main,
  #headerz {
    top: 0;
    transition: top 0.5s ease-in-out;
  }

  #darkMode,
  #house-container {
    transition: top 0.5s ease-in-out, left 0.5s ease-in-out;
  }

  header h1 {
    font-size: 4em;
    margin-bottom: 25px;
  }

  nav {
    width: 100vw;
  }

  nav a {
    flex: 1 1 0;
  }
}
