* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* color: rgb(77, 77, 77); */
  padding: 4%;
  padding-right: 40px;
  font-family: "Segoe UI", "Tahoma", "Geneva", "Verdana", sans-serif;
}

/****** scrollbar *******/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(214, 214, 214);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(133, 133, 133);
}
