* {
  font-family: "Raleway", "Calibri";
}
body {
  margin: auto;
  min-height: 100%;
  overflow: hidden;
  background-color: #fff;
  font-size: 16px;
}

#wrapper {
  margin: 0 auto;
  height: 100vh;
  width: 100%;
}

#header {
  margin: auto;
  padding: 20px;
  width: 25%;
  height: 100%;
  display: inline-block;
  background-color: #f7f7f7;
  text-align: center;
}

#header-content {
  margin: auto;
  top: 20%;
  width: 70%;
  position: relative;
  overflow: auto;
}

#content {
  margin: 0;
  padding: 50px;
  height: 84%;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  overflow: auto;
  overflow-x: hidden;
}

p,
summary,
details,
li {
  color: #474747;
  line-height: 1.5em;
  font-size: 1em;
}

a {
  color: #333333;
  text-decoration: none;
}

a:hover {
  color: #d4d4d4;
}

.main-nav {
  list-style-type: none;
  display: inline-block;
  width: 100%;
  padding-inline-start: 0px;
  line-height: 1.8em;
}

.main-nav > li {
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 0.1em;
}

.logo {
  font-size: 40px;
}

hr {
  width: 50%;
}

h1 {
  color: #333333;
  text-align: center;
}

h2,
h3 {
  color: #333333;
}

.quote {
  font-style: italic;
  text-align: center;
  font-size: 0.85em;
}

#hamburger-checkbox {
  display: none;
}

.change-lang {
  text-align: center;
  margin: 0;
  font-size: 0.8em;
}

.caption {
  font-size: 0.85em;
  color: #979797;
  font-style: italic;
}
/******** scrollbar styles **********/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/****** index page ********/
.main-content {
  text-align: center;
}

/******* post styles *********/
.post-header {
  text-align: center;
}

.post-header > p {
  font-size: 0.8em;
  color: #8a8a8a;
}

.post-header > h1 {
  color: #454545;
  font-size: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 0.3px solid #e6e6e6;
}

.post-content {
  width: 100%;
  text-align: left;
}
.post-img img {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.post-content hr {
  margin: 40px auto;
}

/********** post list styles ******/
.myposts {
  list-style-type: none;
  display: inline-block;
  width: 100%;
  padding-inline-start: 0px;
  line-height: 1.5em;
}

.post-item {
  margin-bottom: 50px;
}
.post-item > h1 {
  font-size: 24px;
  text-align: left;
}

.post-item > div {
  font-size: 0.8em;
}

.post-excerpt {
  margin: 10px 30px;
  width: 60%;
  display: inline-block;
  vertical-align: top;
}

.post-excerpt > p {
  margin: 0;
  font-size: 1.2em;
}

.post-banner {
  margin-top: 10px;
  width: 25%;
  display: inline-block;
}

.pagination {
  margin: 10px auto;
}

/****** project cards style ******/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 30%;
  margin: 20px 10px;
  display: inline-block;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-container {
  padding: 15px 30px;
}

.card-container p {
  font-size: 0.8em;
}

.card-container h4 {
  color: #333333;
  margin: 10px auto;
}

/**** card content styles *****/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 30px;
  border: 1px solid #888;
  width: 70%;
  height: 60%;
  overflow: auto;
}

.appclose {
  float: right;
  color: #aaaaaa;
  font-size: 35px;
  font-weight: bold;
}

.popimage {
  margin-right: 30px;
  display: block;
  width: 60%;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/******* mobile/tablet *******/
@media (max-width: 768px) {
  #wrapper {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  #header {
    margin: 0;
    width: 100%;
    height: 65px;
    padding: 0;
    background-color: #f7f7f7;
  }

  #header-content {
    overflow: hidden;
    margin: 0;
    width: 100%;
    text-align: left;
    vertical-align: top;
  }

  .logo {
    text-align: left;
    margin: 0 20px;
    font-size: 30px;
    display: inline-block;
  }

  #header-text {
    visibility: hidden;
    max-height: 0px;
    transition: max-height 0.5s ease-in-out;
  }

  #content {
    margin: 0;
    padding: 20px;
    width: 91%;
    height: 80%;
    vertical-align: top;
    position: relative;
    overflow: auto;
    overflow-x: hidden;
  }

  /***** menu toggle ******/
  #hamburger-checkbox {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  #menu-toggle {
    padding: 10px 15px;
    float: right;
    cursor: pointer;
  }

  #menu-toggle span {
    display: block;
    width: 30px;
    height: 4px;
    margin-bottom: 4px;
    background: #454545;
  }

  #hamburger-checkbox:checked ~ #header-text {
    visibility: visible;
    background: #f7f7f7;
    max-height: 200px;
    padding: 25px;
  }

  /***** post style *****/
  .post-content {
    width: 100%;
  }

  .post-img img {
    width: 100%;
  }

  /***** post list style *****/
  .post-banner {
    width: 90%;
    display: block;
    margin: auto;
  }
  .post-excerpt {
    margin: 20px auto;
    width: 90%;
    display: block;
  }

  /**** project cards ****/
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 90%;
    margin: 20px auto;
    display: block;
  }

  .modal {
    padding-top: 15%;
  }
  .modal-content {
    width: 70%;
    height: 70%;
  }

  .popimage {
    margin: 0 20px 30px 20px;
    display: block;
    width: 80%;
    text-align: center;
  }

  .clearfix p {
    font-size: 0.85em;
  }
}
