<!DOCTYPE html>
<html>
  <head>
    {% if page.title %}
    <title>{{page.title}} | {{ site.title }}</title>
    {% else %}
    <title>{{ site.title }}</title>
    {% endif %}
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
    <link rel="icon" type="image/png" href="/assets/imgs/sun_fav.png"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <span class="header-title">🌻 hxuan</span><span class="cross"></span>
      </div>
      <nav>
        <ul>
          <li class="butt zero"><a href="/index.html">home</a></li>
          <li class="butt selected"><a href={{ "/log.html" | absolute_url }}>log</a></li>
          <li class="butt two"><a href={{ "/projects.html" | absolute_url }}>projects</a></li>
          <li class="butt three"><a href="{{ "/about.html" | absolute_url }}">about</a></li>
        </ul>
      </nav>

      <div class="content">{{content}}</div>

      <div class="footer">© 2020 hx.</div>
    </div>
  </body>
</html>
