<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/assets/pagestyle.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- <p id="content-para">
      {{content}} 
    </p> -->

    {{content}}
    <!-- <script src="contentscript.js"></script> -->
    <!-- <script src="./anime.min.js"></script> -->
    <!-- <script src="/scripts/global.js"></script> -->
    <script src="/scripts/pagescript.js"></script>
  </body>
</html>
